<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <button onclick="oAuth2AuthenticateDialog('insta_int')">Authenticate Instagram</button>
    <button onclick="oAuth2AuthenticateDialog('dropbox_int')">Authenticate Dropbox</button>
  </body>
</html>
