<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>
  </head>
  <body onload="oAuthCloseDialog('<%= auth %>')">
    <h2>Please wait....</h2>
  </body>
</html>
