<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <a href="<%= authProvider.req_uri2 %>"><%= authProvider.name %></a>
  </body>
</html>
